@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile Oblique';
    src: url('Iosevka-Aile-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Medium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Light-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Thin-Italic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('Iosevka-Aile-Semibold-Italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

