{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 11
        }
      }
    ]
  ],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-es2015-arrow-functions"
  ]
}
