@font-face {
  font-family: "IOA";
  src: url("../assets/IOA/iosevka-aile-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IOA";
  src: url("../assets/IOA/iosevka-aile-oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "IOA";
  src: url("../assets/IOA/iosevka-aile-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IOA";
  src: url("../assets/IOA/iosevka-aile-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "IOA";
  src: url("../assets/IOA/iosevka-aile-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:lang(zh-cn) {
  font-family: "IOA", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif !important;
}

:lang(zh-tw) {
  font-family: "IOA", "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif !important;
}

* {
  font-family: "IOA", sans-serif !important;
}

.mspace {
  font-family: monospace !important;
}
