@font-face {
  font-family: "opensans";
  src: url("../assets/opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans";
  src: url("../assets/opensans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "opensans";
  src: url("../assets/opensans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "opensans";
  src: url("../assets/opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "opensans";
  src: url("../assets/opensans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:lang(zh-cn) {
  font-family: "opensans", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif !important;
}

:lang(zh-tw) {
  font-family: "opensans", "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif !important;
}

* {
  font-family: "opensans", sans-serif !important;
}

.mspace {
  font-family: monospace !important;
}
