.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#biglogo {
  width: 130px !important;
  display: inline-block !important;
}

#biglogohdr {
  text-align: center;
}

#upform {
  padding-bottom: 40px !important;
}