@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(inter-font/inter.css);

/* html {
  font-size: 15px;
} */

body {
  padding: 0;
  margin: 0;
  font-family: "InterVariable", "Vazirmatn", "Noto Sans CJK SC",
    "Source Han Sans SC", system-ui, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "cv10" 1, "ss07" 1, "cv08" 1,
    "dlig" 1;
  letter-spacing: -1%;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: unset !important;
  outline-offset: unset !important;
  --tw-ring-inset: unset !important;
  --tw-ring-offset-width: unset !important;
  --tw-ring-offset-color: unset !important;
  --tw-ring-color: unset !important;
  --tw-ring-offset-shadow: unset !important;
  --tw-ring-shadow: unset !important;
  box-shadow: unset !important;
  border-color: unset !important;
}

.tnum {
  font-feature-settings: "tnum" 1;
}

a {
  text-decoration: none;
}

pre {
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 90%;
  color: black;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
