@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(inter-font/inter.css);

/* html {
  font-size: 15px;
} */

body {
  padding: 0;
  margin: 0;
  font-family: "InterVariable", "Vazirmatn", "Noto Sans CJK SC",
    "Source Han Sans SC", system-ui, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "tnum" 1;
  letter-spacing: -1%;
}

a {
  text-decoration: none;
}

pre {
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 90%;
  color: black;
}
