@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(inter-font/inter.css);

/* html {
  font-size: 15px;
} */

body {
  padding: 0;
  margin: 0;
  font-family: "InterVariable", "Vazirmatn", "Noto Sans CJK SC",
    "Source Han Sans SC", system-ui, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "cv10" 1, "ss07" 1, "cv08" 1,
    "dlig" 1;
  letter-spacing: -1%;
}

.tnum {
  font-feature-settings: "tnum" 1;
}

a {
  text-decoration: none;
}

pre {
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 90%;
  color: black;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
